[hyoo_play] {
	background-size: cover;
	background-position: center;;
}

[hyoo_play_queue_body_content] {
	gap: var(--mol_gap_block);
}

[hyoo_play_queue],
[hyoo_play_chat_page] {
	flex: 0 0 25rem;
}

[hyoo_play_file] {
	align-items: flex-start;
}

[hyoo_play_file_play][disabled="true"] {
	color: var(--mol_theme_current);
}

[hyoo_play_file_play] {
	flex: 1 1 auto;
}


[hyoo_play_player] {
	flex: 1 0 calc( 100% - 25rem );
	object-position: top;
}

[hyoo_play_movie_search] {
	align-self: stretch;
	justify-self: flex-start;
}

[hyoo_play_movie] {
	flex-direction: column;
	gap: 0;
	text-align: center;
}

[hyoo_play_movie_title] {
	flex: 1 1 auto;
	padding: var(--mol_gap_text);
	justify-content: center;
}

[hyoo_play_movie_poster] {
	width: auto;
	max-height: 50vh;
	align-self: center;
	aspect-ratio: .67;
	box-shadow: 0 0 0 1px var(--mol_theme_line), 0 0 .5rem black;
}
[hyoo_play_movie][mol_link_current] [hyoo_play_movie_poster] {
	box-shadow: 0 0 0 2px var(--mol_theme_current), 0 0 1rem black;
}

[hyoo_play_config] {
	flex: 0 0 10rem;
}

[hyoo_play_movie_page] {
	flex: 1 0 max( 50rem, calc( 100% - 35rem ) );
}

[hyoo_play_movie_page_head] {
	flex-wrap: nowrap;
	align-items: flex-start;
}

[hyoo_play_player_ext] {
	justify-self: stretch;
}

[hyoo_play_player_id] {
	flex-direction: column;
}

[hyoo_play_player_id_option] {
	text-transform: capitalize;
}

[hyoo_play_movie_genres] {
	color: var(--mol_theme_shade);
	text-align: center;
}

[hyoo_play_similars] {
	align-items: flex-end;
	padding: 0;
}

[hyoo_play_similar] {
	flex-direction: column;
	width: 10rem;
	text-align: center;
	padding: var(--mol_gap_block);
}

[hyoo_play_similar_title] {
	justify-content: center;
}

[hyoo_play_similar_poster] {
	width: auto;
	aspect-ratio: .67;
	max-height: 50vh;
    align-self: center;
	box-shadow: 0 0 0 1px var(--mol_theme_line), 0 0 .5rem black;
}

[hyoo_play_members] {
	padding: 0;
}

[hyoo_play_member] {
	flex-direction: column;
	width: 10.5rem;
	text-align: center;
}

[hyoo_play_member_name] {
	justify-content: center;
    height: 3rem;
    align-items: flex-end;
}

[hyoo_play_member_role] {
	justify-content: center;
	color: var(--mol_theme_shade);
}

[hyoo_play_member_photo] {
	width: 10rem;
	aspect-ratio: .67;
	max-height: 50vh;
    align-self: center;
	box-shadow: 0 0 0 1px var(--mol_theme_line), 0 0 .5rem black;
}

