[hyoo_play_queue_body_content] {
	gap: var(--mol_gap_block);
}

[hyoo_play_queue],
[hyoo_play_chat_page] {
	flex: 0 0 25rem;
}

[hyoo_play_file] {
	align-items: flex-start;
}

[hyoo_play_file_play][disabled="true"] {
	color: var(--mol_theme_current);
}

[hyoo_play_file_play] {
	flex: 1 1 auto;
}

[hyoo_play_queue_foot] {
	justify-content: flex-start;
}

[hyoo_play_player] {
	flex: 1 0 calc( 100% - 25rem );
	object-position: top;
}

[hyoo_play_movie_search] {
	align-self: stretch;
	justify-self: flex-start;
}

[hyoo_play_movie] {
	flex-direction: column;
	padding: var(--mol_gap_block);
	gap: 0;
}

[hyoo_play_movie_title] {
	flex: 1 1 auto;
	padding: var(--mol_gap_text);
}

[hyoo_play_movie_poster] {
	width: 100%;
	box-shadow: 0 0 0 1px var(--mol_theme_line), 0 0 .5rem black;
}
[hyoo_play_movie][mol_link_current] [hyoo_play_movie_poster] {
	box-shadow: 0 0 0 2px var(--mol_theme_current), 0 0 1rem black;
}

[hyoo_play_movie_page] {
	flex: 1 0 max( 50rem, calc( 100% - 25rem ) );
}

[hyoo_play_player_ext] {
	justify-self: stretch;
}

[hyoo_play_player_id_option_label] {
	text-transform: capitalize;
}
